version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-report
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www
      - /var/www/vendor
      - app-storage:/var/www/storage
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - laravel
    command: php artisan serve --host=0.0.0.0 --port=8000

  queue-worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-report-queue
    volumes:
      - .:/var/www
      - /var/www/vendor
      - app-storage:/var/www/storage
    env_file:
      - .env
    depends_on:
      - db
      - app
    networks:
      - laravel
    command: php artisan queue:work --sleep=3 --tries=3 --max-time=3600
    restart: unless-stopped

  db:
    image: mysql:8.0-oraclelinux8
    container_name: api-report-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_report
      MYSQL_USER: user
      MYSQL_PASSWORD: 123456
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  dbdata:
    driver: local
  app-storage:
    driver: local